* {
    margin: 0px;
    padding: 0px;

}

h1 {
    height: 10vh;
    background-color: coral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 3px;
    text-transform: capitalize;
    justify-items: center;

}

.contener {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 10px 10px 60px blueviolet;
}

.contener img {
    max-height: 70vh;
    border-radius: 90px 10px 100px 10px;
    box-shadow: 0px 10px 40px red;
}
.content{
   max-width:36.2vw;
}
.buttons{
    display: flex;
    
}

.btns {
    margin: 10px;
    height: 5vh;
    width: 8vw;
    border: none;
    border-radius: 8px;
    background-color: rgb(106, 62, 207);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-style: italic;

}
.next{
    margin: 10px;
    height: 5vh;
    width: 8vw;
    border: none;
    border-radius: 8px;
    background-color: rgb(106, 62, 207);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-style: italic;
}

.small_box {
    width: 36vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lines {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    min-height: 10vh;
    margin-top: 15px;
}